<head>
<style>
body {
    background-color: lightblue;
}

div {
    color: black;
    text-align: center;
    font-family: verdana;
    font-size: 20px;
}

input {
    color: black;
    text-align: center;
    font-family: verdana;
    font-size: 20px;
}
</style>
</head>

<div>
<%= @game.player1.name %>
<p>
  <b>Choose Hand</b><br />
<form action="/play_hand" method="post">
  <label>
    <input type="radio" name="choice" value="rock">Rock<br>
  </label>
  <label>
    <input type="radio" name="choice" value="paper">Paper<br>
  </label>
  <label>
    <input type="radio" name="choice" value="scissors">Scissors<br>
  </label>

  <input type="submit" value="Submit">
</form>

</p>
</div>